apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - application.yaml
commonLabels:
    app.kubernetes.io/name: fint-unleash
    app.kubernetes.io/instance: fint-unleash
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/managed-by: GA
    app.kubernetes.io/component: feature-toggling
    app.kubernetes.io/part-of: fintlabs-application-infrastructure-services
    fintlabs.no/team: flais
    fintlabs.no/org-id: flais.o